.App {
  text-align: center;
  width: auto;
  height: 900px;
  text-align: center;
  margin: 0 auto;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Style goes here */
.searchBox {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  background-color:rgba(240,248,255,0.85);
  height: 630px;
  width: 70%;
  position: relative;
  z-index: 100;
  top: 20%;
  border: black 2px solid;
  border-radius: 1.3em;
}

.input {
  width: 50%;
  text-align: center;
  height: 45px;
  margin: auto 0;

}

.searchBtn {
  text-align: center;
  height: fit-content;
  margin: auto 0;
}

.search {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

